.App{
  max-width: 300px;
  margin: auto;
  padding: 20px 5px;
  text-align: center;
  font-weight: bold;
}

*:focus {
  outline: none;
}

.header, .input, .list, .counter {
  width:100%;
  border: 3px solid black;
  margin-bottom: 35px;
}

.header, .input, .counter {
  line-height: 40px;
  height: 40px;
}

input[type=text] {
  display: inline-block;
  width: 250px;
  height: 35px;
  border: none;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

span {
  display: inline-block;
  width: 40px;
  border-left: 2px solid black;
}

.strikethrough{
  text-decoration: line-through;
  color: red;
}

.list {
  padding: 5px;
  width: 290px;
}

.toDoList{
  padding: 5px;
  margin: 5px 0;
  border: 2px solid black;
}

input[type=checkbox] {
  float: right;
}

button {
  float: right;
  border: 1px solid red;
}
